@model Blog

@{
    ViewData["Title"] = "AuthorBlogUpdate";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Blog Düzenle </h4>
        <p class="card-description">  </p>
        <form id="blogAddForm" method="post" class="forms-sample">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="exampleInputName1">Başlık</label>
                        <input type="text" class="form-control" name="BlogTitle" id="exampleInputName1" placeholder="Örn. Ege'nin Gözbebeği Marmaris...'" value="@Model.BlogTitle" required>
                    </div>
                </div>
                <input type="hidden" class="form-control" name="BlogId" value="@Model.BlogId" required="">
                <input type="hidden" class="form-control" name="BlogCreateDate" value="@Model.BlogCreateDate.ToShortDateString()" required="">
                <input type="hidden" class="form-control" name="AuthorId" value="1" required="">
                <input type="hidden" class="form-control" id="blog-image" name="BlogImagePath" value="@Model.BlogImagePath" required="">

                <div class="col-4">
                    <div class="form-group">
                        <label for="exampleSelectGender">Kategori</label>
                        <select class="form-control" name="CategoryId" form="blogAddForm" id="exampleSelectGender" required>
                            <option disabled0> Kategori seçiniz...</option>
                            @foreach (var category in ViewBag.categoryList)
                            {
                                if (category.Value == Model.CategoryId.ToString())
                                {
                                    <option selected value=@category.Value>@category.Text</option>
                                }
                                else
                                {
                                    <option value=@category.Value>@category.Text</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        <label>Görsel</label>
                        <input type="file" id="upload-file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder=@Model.BlogImagePath>
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Yükle</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-top: auto; margin-bottom: auto;">
                    <span id="upload-message"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleTextarea1">İçerik</label>
                <textarea id="summernote" name="BlogContent" required="">@Model.BlogContent</textarea>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
            <button type="button" class="btn btn-light" onclick="history.back()">İptal</button>
        </form>
    </div>
</div>

<!-- File upload -->
<script src="~/writer/assets/js/file-upload.js"></script>
<!-- Summernote -->
<script src="~/js/blog-summernote.js"></script>
<!-- Blog image upload -->
<script src="~/js/blog-upload-image.js"></script>
