@using EntityLayer.Concrete
@model Blog

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/Blog">Anasayfa</a>
		</li>
		<li class="breadcrumb-item active">@Model.BlogTitle</li>
	</ol>

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="#">
									<img src="@Model.BlogImagePath" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> @(((DateTime)Model.BlogCreateDate).ToString("MMM dd, yyyy")) </a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 201 Likes</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 15 Comments</a>
									</li>

								</ul>
							</div>
						</div>

						<h3>
							<a style="color:#555555;" >@Model.BlogTitle</a>
						</h3>
						<div class="blog-detail" >@Html.Raw(Model.BlogContent)</div>
					
					</div>

					@await Component.InvokeAsync("BlogComments",new{id=ViewBag.urlId})

					@await Component.InvokeAsync("LeaveAComment",new{id=ViewBag.urlId})

				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						
						@await Html.PartialAsync("~/Views/Subscriber/SubscribeMail.cshtml")

						@await Component.InvokeAsync("Categories")
						@await Component.InvokeAsync("AuthorBlogs",new{id=@Model.AuthorId})
						@await Component.InvokeAsync("NewBlogs")

						
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

